.site .carrousel * + * {
    margin-top: 0;
}

.carrousel {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    z-index: 9;
    opacity: 0;
    transform: scale(0);
    transition: all 1s;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 3px 2px #9c9c9c4d;
    @media screen and (min-width: 700px) {
        width : 75vw;
        height : 75vh;        
    }
    .carrousel__fermeture{
    border: none;
    z-index: 1;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    background-color: #ff1111;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 0;
    font-weight: 800;
    font-family: arial;
    color: white;
    cursor: pointer;
}

.carrousel__fermeture:hover{
    background-color: #740000;
}

}
.carrousel__ouvrir {
    opacity : 1;
    transform : scale(1) translate(-50%, -50%);
}



.carrousel__figure{
    position: absolute;
    width: 100%;
    height: 100%;
    top : 0;
    margin: 0;
}

.carrousel__figure__img{
    position : absolute;
    object-fit: cover;
    width : 100%;
    height: 100%;
    opacity : 0;
    transition : opacity 1s, transform 1s;
}

.carrousel__figure__img--activer{
    opacity : 1;
}

.carrousel__radio {
    position: absolute;
    bottom: 0;
    left :0;
    display: flex;
    justify-content: center;
    width : 100%;
}

.carrousel__radio input{
  margin : 0 10px 10px 10px;
  display : block;
}

.carrousel__droite, .carrousel__gauche{
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translate(0, -50%);
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
    font-family: arial;
    font-weight: 900;
    color: white;
    background-color: #000000c2;
    padding: 0;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrousel__droite{
    left: initial;
    right: 1rem;
}

.carrousel__droite:hover, .carrousel__gauche:hover{
    background-color: orange;
}

figure > figure{
    cursor: pointer;
    border-radius: 1rem;
}